{{ $accent := .Site.Params.ascentColor }}
<div class='grid-item h-full p-2 rounded-lg shadow-md bg-green-700 hover:bg-green-700 hover:opacity-80 dark:hover:bg-green-700 dark:opacity-80 ease-in-out px-4 py-2 m-0 text-white flex flex-col relative' style="width: 400px; height: 400px;">
  {{ if .Params.eurl }}
  <a href="{{ .Params.eurl }}">
  {{ else }}
  <a href="{{ .RelPermalink }}">
  {{ end }}
  
  {{ if .Params.thumbnail }}
  <div class="relative border-solid">
    <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="rounded-lg shadow-sm w-full h-auto max-h-52 object-contain" />
  </div>
  {{ end }}
  
  <!-- Judul Artikel -->
  <div class="my-2 text-l font-normal overflow-ellipsis overflow-hidden hover:text-gray-100 dark:hover:text-gray-100" style="font-size: 1rem; text-align: left; overflow: hidden; display: flex; justify-content: center; align-items: center;" >{{ .Params.title }}</div>

  <!-- Garis dengan margin tambahan -->
  
  <hr class="border-t-2 border-white my-4 absolute bottom-7 left-4 right-4">
  <!-- Informasi Penulis dan Tanggal selalu di bawah -->
  <div class="flex justify-between items-center text-sm absolute bottom-4 left-4 right-4">
    <!-- Icon Font Awesome untuk penulis -->
    <span class="flex items-center italic text-gray-200">
      <i class="fas fa-user mr-2"></i> {{ .Params.author }}
    </span>
    
    <!-- Icon Calendar dan Tanggal -->
    <span class="flex items-center italic text-gray-200">
      <i class="fas fa-calendar mr-2"></i> {{ .Date.Format "Jan 2, 2006" }}
    </span>
  </div>
  </a>

  {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
    {{ if .IsTranslated -}}
      <div style="font-style: italic;font-size: smaller;">
        {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
        {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
        {{- $cleanLinks := apply $links "chomp" "." -}}
        {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
        {{ i18n "translationsLabel" }}{{ $linksOutput }}
      </div>
    {{- end }}
  {{ end }}
</div>

<!--  <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr); /* Mengatur 5 kolom dengan lebar yang sama */
            gap: 10px; /* Jarak antara kolom */
            animation: scrollGrid 10s linear infinite; /* Animasi bergulir selama 10 detik */
        }

        .grid-item {
            background-color: #f0f0f0;
            padding: 20px;
            text-align: center;
        }

        @keyframes scrollGrid {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-100%); /* Bergulir ke kiri sejauh 100% */
            }
        }
      </style> -->


  <!-- <div class="container-fluid">
  <a href="{{ .RelPermalink }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="position-relative mb-3">
                {{ if .Params.thumbnail }}
                  <img class="img-fluid w-100" src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" style="object-fit: cover;">
                {{ end }}
                {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
                  <div class="bg-white border border-top-0 p-4">
                    <div class="mb-2">
                      <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"></a>
                      <a class="text-body" href=""><small>{{ .Date.Format "January 2, 2006" }}</small></a>
                    </div>
                    <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{{ .RelPermalink }}">{{ .Params.title }}</a>
                    <div>{{ .Params.description }}</div>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
    {{ if .IsTranslated }}
      <div style="font-style: italic;font-size: smaller;">
        {{ $sortedTranslations := sort .Translations "Site.Language.Weight" }}
        {{ $links := apply $sortedTranslations "partial" "translation_link.html" "." }}
        {{ $cleanLinks := apply $links "chomp" "." }}
        {{ $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") }}
        {{ i18n "translationsLabel" }}{{ $linksOutput }}
      </div>
    {{ end }}
  {{ end }}
</div>-->
