{{ $accent := .Site.Params.accentColor }}
<div class="blog-card relative text-white rounded-lg shadow-md overflow-hidden">

  <!-- Link ke halaman atau URL -->
  {{ if .Params.eurl }}
  <a href="{{ .Params.eurl }}" class="absolute inset-0">
  {{ else }}
  <a href="{{ .RelPermalink }}" class="absolute inset-0">
  {{ end }}

    <!-- Thumbnail -->
    <div class="thumbnail absolute inset-0 bg-cover bg-center" 
         style="background-image: url('{{ .Params.thumbnail }}');"></div>

    <!-- Kontainer teks, hanya muncul saat hover -->
    <div class="text-container absolute inset-0 flex flex-col justify-end z-10 p-3">
      
      <!-- Judul -->
      <div>
        <span class="text-sm font-bold block">
          {{ .Params.title }}
        </span>
      </div>

      <!-- Tanggal -->
      <div class="mt-2">
        <span class="text-xs text-gray-200 italic">
          <i class="fas fa-calendar mr-2"></i> {{ .Date.Format "2 Jan 2006" }}
        </span>
      </div>
      
    </div>
  </a>
</div>

<style>
  .blog-card {  
    width: 300px;
    height: 175px; 
  }
  .blog-card:hover .thumbnail {
    transform: scale(1.1);
    filter: brightness(75%);
    transition: transform 0.5s ease, filter 0.5s ease;
  }

  .blog-card:hover .text-container {
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .text-container {
    opacity: 0; /* Tersembunyi secara default */
  }
</style>