{{ $accent := .Site.Params.ascentColor }}
<div class="grid-item blog-card-aplikasi relative text-white rounded-lg shadow-lg overflow-hidden p-4 bg-gray-500 dark:bg-gray-400" 
     style="width: 100%; height: 200px;"> <!-- Meninggikan kotak lebih lagi -->

  {{ if .Params.eurl }}
  <a href="{{ .Params.eurl }}" class="absolute inset-0" target="_blank" aria-label="Buka tautan eksternal aplikasi">
  {{ else }}
  <a href="{{ .RelPermalink }}" class="absolute inset-0" aria-label="Buka halaman aplikasi">
  {{ end }}
    <!-- Background tetap satu thumbnail dengan padding dan di tengah -->
    <div class="thumbnail-container-aplikasi" 
         style="background-image: url('{{ .Params.thumbnail }}'); padding: 20px; background-size: 60% auto; background-repeat: no-repeat; background-position: center;">
      <div class="overlay-aplikasi">
        <span class="eurl-text-aplikasi">{{ .Params.eurl }}</span> <!-- Tampilkan eurl saat hover dengan padding -->
      </div>
    </div>
    
  </a>
</div>

<style>
  .blog-card-aplikasi {
    background-size: cover;
    background-position: center;
    background-color: rgba(128, 128, 128, 0.2); /* Ubah warna latar menjadi abu-abu dengan opacity 20% */
  }

  .thumbnail-container-aplikasi {
    position: absolute;
    inset: 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .overlay-aplikasi {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px; /* Tambahkan padding agar teks tidak keluar dari kotak */
    box-sizing: border-box; /* Pastikan padding tidak menambah ukuran elemen */
  }

  .eurl-text-aplikasi {
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 15px;
    display: none;
    word-wrap: break-word; /* Memastikan teks panjang terbungkus */
    max-width: 100%; /* Batasi lebar teks agar tidak keluar dari kotak */
  }

  .thumbnail-container-aplikasi:hover .overlay-aplikasi {
    opacity: 1;
  }

  .thumbnail-container-aplikasi:hover .eurl-text-aplikasi {
    display: block;
  }

  .thumbnail-container-aplikasi:hover {
    transform: scale(1.15); /* Perkecil sedikit saat hover */
  }

  @media (max-width: 768px) {
    .blog-card-aplikasi {
      width: 100%; /* Sesuaikan dengan container */
      height: auto; /* Biarkan tinggi menyesuaikan */
      aspect-ratio: 16 / 9; /* Menjaga rasio aspek */
    }
  }
</style>
