<footer
  class='p-6 mx-auto flex items-center justify-between w-full relative bottom-0 {{ default "bg-defaultColor" .Site.Params.ascentColor }} text-white dark:bg-gray-800'
>

  <div class="justify-between items-left w-full mt-6 px-4">
    <div class="relative mb-6">
      <div class="grid md:grid-cols-2 mx-auto">
        <!-- Kolom Kiri: Intro Title dan Subtitle -->
        <div class="text-center dark:text-white break-normal px-20 py-4">
          <h1 class="font-bold mb-8" style="font-size: 1.5rem">
            {{ .Site.Params.introTitle | safeHTML }}
          </h1>
          <p
            class="font-light pt-8 leading-normal min-h-16"
            style="font-size: 1.5rem"
          >
            {{ .Site.Params.introSubtitle | safeHTML }}
          </p>
        </div>

        <!-- Kolom Kanan: Kontak dan Social Media -->
        <div class="flex flex-col gap-4 px-20">
          <div class="space-y-4 dark:text-white">
            <!-- Phone -->
            <div class="flex items-center gap-2">
              <i class="fas fa-phone-alt w-6 h-6 flex justify-center items-center" style="transform: scaleX(-1); font-size: 1.25rem;"></i>
              <span>{{ .Site.Params.phone }}</span>
            </div>

            <!-- Email -->
            <div class="flex items-center gap-2">
              <i class="fas fa-envelope w-6 h-6 flex justify-center items-center" style="font-size: 1.25rem;"></i>
              <span>{{ .Site.Params.email }}</span>
            </div>

            <!-- Address -->
            <div class="flex items-center gap-2">
              <i class="fas fa-map-marker-alt w-6 h-6 flex justify-center items-center" style="font-size: 1.25rem;"></i>
              <span>{{ .Site.Params.address }}</span>
            </div>
          </div>
          <div class="flex items-center gap-2">
            <i class="fas fa-sitemap w-6 h-6 mr-2 flex justify-center items-center" style="font-size: 1.25rem;"></i>
            <span
              class="relative text-sm underline"
              style="font-size: 1rem; color: #fff"
            >
              <a href='{{ absURL "/" }}sitemap'>Sitemap</a>
            </span>
          </div>
          <!-- Social Media Links -->
          <div class="flex justify-end mt-3">
            <ul class="flex items-center gap-4 pt-4">
              {{ range .Site.Params.homepage.social.icons }} {{ if eq .website
              "youtube" }}
              <li>
                <a
                  href="{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="YouTube"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-youtube w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ if eq .website "instagram" }}
              <li>
                <a
                  href="{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Instagram"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-instagram w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ if eq .website "tiktok" }}
              <li>
                <a
                  href="{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Tiktok"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-tiktok w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ if eq .website "facebook" }}
              <li>
                <a
                  href="{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Facebook"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-facebook w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ if eq .website "twitter" }}
              <li>
                <a
                  href="{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="Twitter"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-twitter w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ if eq .website "whatsapp" }}
              <li>
                <a
                  href="http://wa.me/{{ .url }}"
                  target="_blank"
                  rel="noopener"
                  aria-label="WhatsApp"
                  class="p-1 inline-block rounded-lg text-gray-300 hover:text-gray-800 hover:bg-white cursor-pointer transition-colors dark:text-white dark:hover:text-black flex justify-center items-center"
                >
                  <i class="fab fa-whatsapp w-10 h-10 flex justify-center items-center" style="font-size: 1.75rem;"></i>
                </a>
              </li>
              {{ end }} {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="scrollToTopBtn"
    class="fixed bottom-4 right-4 p-1 cursor-pointer bg-white shadow-md rounded-full hidden"
    onclick="scrollToTop()"
  >
    <i class="fas fa-arrow-up h-8 w-8 text-black dark:text-black flex justify-center items-center" style="font-size: 1.75rem;"></i>
  </div>
</footer>
<div class="w-full flex flex-col items-center bg-sky-900 dark:bg-gray-700 py-4">
  <span class="relative" style="font-size: 1rem; color: #fff">
    {{ if (isset .Site.Params "copyright") }} {{ .Site.Params.copyright |
    safeHTML }} {{ else }} {{ dateFormat "2006" now }} © {{ .Site.Title }} {{
    end }}
  </span>
</div>
{{ if .Site.Params.enableSearch }} {{- partial "search-ui.html" . -}} {{ end }}
{{ template "_internal/google_analytics.html" . }} {{ if
.Site.Params.darkModeToggle }}
<script>
  const darkmode = document.querySelector(".toggle-dark-mode");
  function toggleDarkMode() {
    if (document.documentElement.classList.contains("dark")) {
      document.documentElement.classList.remove("dark");
      localStorage.setItem("darkmode", "light");
    } else {
      document.documentElement.classList.add("dark");
      localStorage.setItem("darkmode", "dark");
    }
  }
  if (darkmode) {
    darkmode.addEventListener("click", toggleDarkMode);
  }

  const darkStorage = localStorage.getItem("darkmode");
  const isBrowserDark =
    window.matchMedia &&
    window.matchMedia("(prefers-color-scheme: dark)").matches;

  if (!darkStorage && isBrowserDark) {
    document.documentElement.classList.add("dark");
  }

  if (darkStorage && darkStorage === "dark") {
    toggleDarkMode();
  }
</script>
{{ end }}
<script>
  // Fungsi untuk menyembunyikan loading screen dan menambahkan efek fade-in pada konten utama
  function hideLoadingScreen() {
    const loadingScreen = document.getElementById("loading-screen");
    loadingScreen.classList.add("hidden"); // Tambahkan class 'hidden' untuk menerapkan transisi

    const mainContent = document.querySelector("main");
    mainContent.classList.add("fade-in"); // Tambahkan class 'fade-in' untuk menerapkan efek fade-in
  }

  // Sembunyikan loading screen dan tambahkan efek fade-in setelah 2 detik (2000 milidetik)
  setTimeout(hideLoadingScreen, 300);
</script>
<script>
  document
    .getElementById("mobile-menu-button")
    .addEventListener("click", function () {
      var menu = document.getElementById("mobile-menu");
      menu.classList.toggle("hidden");
    });
  //const mobileMenuButton = document.querySelector('.mobile-menu-button')
  //const mobileMenu = document.querySelector('.mobile-menu')
  //function toggleMenu() {
  //mobileMenu.classList.toggle('hidden');
  //mobileMenu.classList.toggle('flex');
  //}
  //if(mobileMenu && mobileMenuButton){
  //mobileMenuButton.addEventListener('click', toggleMenu)
  //}
</script>

<script>
  function scrollToTop() {
    var currentScroll =
      document.documentElement.scrollTop || document.body.scrollTop;
    if (currentScroll > 0) {
      window.requestAnimationFrame(scrollToTop);
      window.scrollTo(0, currentScroll - currentScroll / 40);
    }
  }

  window.addEventListener("scroll", function () {
    var scrollToTopBtn = document.getElementById("scrollToTopBtn");
    var scrollY = window.scrollY || window.pageYOffset;

    if (scrollY > 20) {
      scrollToTopBtn.classList.remove("hidden");
    } else {
      scrollToTopBtn.classList.add("hidden");
    }

    if (scrollY === 0) {
      scrollToTopBtn.style.display = "none";
    } else {
      scrollToTopBtn.style.display = "block";
    }
  });
</script>
