{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
  {{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

  {{ if or (not .Params.thumbnail) (and (not .Site.Params.hidePageThumbnail) (not .Params.hidePageThumbnail)) }}
  {{/*  <h1 class="text-3xl font-bold mb-4 mt-2 text-center">{{ .Title }}</h1>  */}}
 
  {{ else }}
  <div class="relative max-w-5xl mx-auto px-4">
    <img src="{{ .Params.thumbnail }}" class="rounded-lg shadow-sm w-full object-contain" />
  </div>  
  {{ end }}

  <article class="prose lg:prose-lg mx-auto my-8 px-4 text-black" >
    {{ if not .Params.images }}
    <h1 class="text-2xl font-bold mb-2 pb-4 pt-6 text-center" style="color: #22543d; font-size: 2rem;">{{ .Title }}</h1>
    <hr style="border: 2px solid #22543d; width: 50%; margin: 0 auto; margin-bottom: 1rem;">
    {{ end }}

    {{ .Content }}
    <div class="relative mx-auto">
      <div class="owl-carousel owl-theme">
        {{ range $index, $imageUrl := .Params.images }}
        <div class="item">
          <img src="{{ $imageUrl }}" class="rounded-lg shadow-sm w-full object-cover" style="height: 300px;" />
        </div>
        {{ end }}
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $(".owl-carousel").owlCarousel({
          items: 1, // Jumlah gambar yang ditampilkan dalam satu waktu
          loop: true, // Untuk membuat tampilan melingkar
          nav: true, // Menampilkan tombol navigasi
          dots: false, // Menampilkan titik navigasi
          autoplay: true, // Otomatis memutar slider
          autoplayTimeout: 3000, // Interval waktu antara slide
          responsiveClass:true,
          autoHeight: true, // Menyesuaikan tinggi slider dengan konten
          responsive:{
            0:{
              items:1
            },
            600:{
              items:1
            },
            1000:{
              items:2
            }
          }
        });
      });
      </script>
  </article>

  {{- partial "comments.html" . -}}

  {{- partial "intro.html" . -}}
{{ end }}
