{{ define "main" }}

<style>
  .marquee {
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
  }
  .marquee-text {
      display: inline-block;
      padding-left: 100%;
      animation: marquee 20s linear infinite;
  }

  @keyframes marquee {
      0% { transform: translateX(0); }
      100% { transform: translateX(-100%); }
  }

  /* CSS styling for Swiper */
  .swiper-slide img {
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

      /* Style the pagination bullets to make them rectangular */
  .swiper-pagination-bullet {
    width: 40px; /* Set width of the rectangular bullets */
    height: 5px; /* Set height of the rectangular bullets */
    background-color: #e4e4e4; /* Set background color to black (adjust as needed) */
    border-radius: 5px; /* Optional: Rounds the corners, remove if you want sharp edges */
    margin: 0 5px; /* Optional: Adds space between the bullets */
  }

  .swiper-pagination-bullet-active {
    background-color: #fff; /* Color of the active bullet */
  }

    /* Mengubah ukuran dan warna tombol next dan prev */
  .swiper-button-next,
  .swiper-button-prev {
    width: 40px; /* Menentukan lebar tombol */
    height: 40px; /* Menentukan tinggi tombol */
    color: gray; /* Mengubah warna ikon di dalam tombol */
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Mengubah ukuran ikon */
  }

  /* Mengubah warna tombol saat dihover */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: white;
  }

  /* Menyesuaikan ukuran ikon dalam tombol */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px; /* Mengubah ukuran ikon panah */
  }

  @keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translate(-50%, -100%); /* Bergerak dari atas */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Posisi akhir (pusat) */
  }
  }


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .animated-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    font-family: 'Marcellus', serif;
    z-index: 3;
    text-align: center;
    width: 80%;
    color: white;
    animation: fadeInMove 2s ease-in-out; /* Memperkenalkan animasi */
    opacity: 0; /* Memastikan teks tidak terlihat sebelum animasi dimulai */
    animation-fill-mode: forwards; /* Memastikan animasi tetap di akhir posisi */
  }

  .container {
    white-space: nowrap;
  }

  .zoom-in {
    transition: transform 0.3s ease;
  }

  .zoom-in:hover {
    transform: scale(1.1);
  }

/* Styles for Swiper Pagination */

.swiper-berita-pagination {
  display: flex;
  justify-content: center; /* Center pagination bullets */
  padding-top: 10px; /* Space between slides and pagination */
}

.swiper-berita-pagination-bullet {
  width: 12px;
  aspect-ratio: 1/1; 
  border: 2px solid #0284C7;
  border-radius: 50%; /* Make bullets circular */
  margin: 0 5px; /* Space between bullets */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.swiper-berita-pagination-bullet-active {
  background-color: #0284C7; 
}

.swiper-berita-pagination-bullet:hover {
  background-color: #0284C7;
  opacity: 0.2;
}

/* Posisi pagination di kanan dan vertikal */
.swiper-agenda-pagination {
    position: absolute;
    top: 50%;
    right: 10px; /* Letakkan di sebelah kanan */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px; /* Jarak antar bullet */
}

/* Gaya bullet pagination */
.swiper-agenda-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #0284C7; /* Border biru */
    background-color: transparent; /* Hapus warna background default */
    opacity: 1; /* Pastikan bullet terlihat sepenuhnya */
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s; /* Tambahkan animasi opsional */
}

/* Gaya saat bullet aktif */
.swiper-agenda-pagination .swiper-pagination-bullet-active {
    background-color: #0284C7; /* Isi warna biru */
    transform: scale(1.2); /* Sedikit membesarkan bullet aktif */
    opacity: 1; /* Pastikan tidak ada transparansi */
}


.swiper-flyers-button-next,
.swiper-flyers-button-prev {
  position: absolute;
  top: 50%; /* Posisikan di tengah vertikal */
  transform: translateY(-50%); /* Pastikan tombol berada tepat di tengah */
  z-index: 10; /* Pastikan tombol berada di atas konten lain */
  cursor: pointer;
  color: #0079B8;
  height: 110%; /* Tinggi tombol */
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-flyers-button-next span,
.swiper-flyers-button-prev span {
  font-size: 5em; /* Ukuran ikon chevron */
}

.swiper-flyers-button-next {
  background: linear-gradient(to left, white, rgba(255, 255, 255, 0));  
  right: 0px; 
}

.swiper-flyers-button-prev {  
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0));  
  left: 0px; 
}

.swiper-flyers-button-next:hover,
.swiper-flyers-button-prev:hover {
  color: black;
}

</style>
<!-- Swiper Background -->

{{ $runningText := .Site.Params.running_text }}
{{ if $runningText }}

{{ $sliderImages := .Site.Params.sliders.images }}

{{ if len $sliderImages }}
<div class="swiper mySwiper" style="background-color: black; height: 43vw;">
  <div class="swiper-wrapper">
    <p class="font-semibold animated-text">
      {{ range $runningText }}{{ .text }} {{ end }}
    </p>
    
    {{ range $sliderImages }}
    <div class="swiper-slide" style="background-color: black">
      <img
        src="sliders/{{ .url }}"
        alt="Slider Image"
        style="
          width: 100%; opacity: 0.7;
          filter: blur(2px);
          z-index: -1;
        "
      />
    </div>
    {{ end }}
    {{ end }}
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


{{ end }}
  <!-- Background Swiper -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 4000, // Delay between slides
        disableOnInteraction: false,
      },
      effect: 'fade',
      fadeEffect: {
        crossFade: true, // Enables cross-fading between slides
      },
      speed: 2500, // Animation duration (in ms)
      loop: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      on: {
        slideChangeTransitionStart: function () {
          // Reset animation
          const animatedTexts = document.querySelectorAll('.animated-text');
          animatedTexts.forEach((text) => {
            text.style.animation = 'none'; // Reset animation
            // Trigger reflow/restart of animation
            void text.offsetWidth;
            text.style.animation = 'fadeInMove 2s ease-in-out forwards'; // Restart animation
          });
        },
      },
    });
  });
</script>

<script>
  function scrollRight() {
    const container = document.querySelector('.scroll-content');
    const scrollAmount = 100;
    container.scrollBy({ left: scrollAmount, behavior: 'smooth' });


    if (container.scrollLeft + container.clientWidth >= container.scrollWidth) {
      container.scrollTo({ left: 0, behavior: 'auto' });
    }
  }

  function startAutoScroll() {
    scrollRight();
    setInterval(scrollRight, 1000);
  }

  window.onload = function() {
    startAutoScroll();
  };
</script>

<div class="wrapper fade-in" id="animateMe">
  <!-- Berita Section -->
  <div class="berita bg-sky-800 bg-opacity-10 border my-3 mx-2 rounded-xl dark:bg-gray-400">
    {{ $frontBundle := .Site.Params.frontBundle | default "berita" | lower }}
    <h2 class="text-2xl font-bold py-5 text-center text-sky-800 ">{{ $frontBundle | title }}</h2>
    
    <!-- Swiper Berita Section -->
    <div class="swiper swiper-berita min-h-72 mx-auto">
      <div class="swiper-wrapper pb-4">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle) }}
        <div class="swiper-slide rounded-lg">
          {{- partial "blog-card-home-berita.html" . -}}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="swiper-berita-pagination"></div>
    {{ if gt (len (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)) 6 }}
    <div class="text-center py-10">
      <a class='px-8 py-5 rounded-2xl transition-colors {{ default "bg-green-500" .Site.Params.ascentColor }} text-gray-100 hover:text-gray-800' href="{{ lower (replace $frontBundle " " "-") | absLangURL }}" lang="{{ .Lang }}">
        {{ i18n "morePosts" }}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6l6 6-6 6" />
        </svg>
      </a>
    </div>
    {{ end }}
  </div>


<!-- Initialize Swiper for Berita Section -->
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var beritaSwiper = new Swiper(".swiper-berita", {
        slidesPerView: 1.2, // Pastikan hanya slide di tengah terlihat penuh, sisanya sebagian
        spaceBetween: 30, // Jarak antar slide
        centeredSlides: true, // Slide di tengah akan menjadi fokus
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        speed: 1000,
        pagination: {
            el: ".swiper-berita-pagination",
            clickable: true,
            bulletClass: "swiper-berita-pagination-bullet",
            bulletActiveClass: "swiper-berita-pagination-bullet-active",
        },
        breakpoints: {
            640: {
                slidesPerView: 1.1, // Slide lebih besar di layar kecil
            },
            768: {
                slidesPerView: 1.2, // Slide lebih besar di tablet
                spaceBetween: 25,
            },
            1024: {
                slidesPerView: 1.5, // Slide lebih besar di layar desktop
                spaceBetween: 30,
            },
        }
    });
});

</script>

<!-- Agenda Section -->
{{ $agenda := .Site.Params.agenda }}
{{ if $agenda }}
<div class="agenda w-full max-w-full my-3 mx-2 border shadow rounded-xl bg-sky-800 bg-opacity-10 dark:bg-gray-400">
  <h2 class="text-2xl font-bold pt-6 text-center text-sky-800 mb-4" id="animateMe">Agenda</h2>
  <div class="swiper-container pl-2" style="display: flex; align-items: center; position: relative;">
  <!-- Swiper Agenda Section -->
  <div class="swiper swiper-agenda p-5" style="height: 480px; width: 90%; margin-left: 1px; overflow: hidden; ">
    <div class="swiper-wrapper">
      {{ range $agenda }}
      <div class="swiper-slide agenda-item flex-grow pr-2 bg-white rounded-lg flex mb-4">
        <div class="flex-none p-16 rounded-l-lg flex flex-col justify-center items-center" style="background-color: #2F9292; text-align: center; width: 150px; height: 100%;">
          <h2 class="font-bold text-white text-6xl" data-day="{{ .hari }}">Loading...</h2>
          <h3 class="text-3xl text-white">{{ .hari }}</h3>
        </div>
        <div class="ml-4 flex-grow flex flex-col" style="overflow: hidden; font-size: 1em;">
          <div class="mt-auto">
            <h3 class="font-bold mt-2" style="font-size: 0.9em;">{{ .judul }}</h3>
            <hr style="border-top: 1px solid black; margin: 8px 0;">
            <div class="flex items-center mt-2 mb-2">
              <div class="flex-none w-3 h-3 mr-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-full h-full">
                  <path d="M21 10c0 6-9 13-9 13S3 16 3 10a9 9 0 1 1 18 0z"></path>
                  <circle cx="12" cy="10" r="3"></circle>
                </svg>
              </div>
              <p style="font-size: 0.85em;">{{ .lokasi }}</p>
            </div>
            <p style="text-align: right; font-size: 0.85em;">{{ .jamMulai }} - {{ .jamSelesai }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  <div class="swiper-agenda-pagination swiper-pagination-vertical"></div>
  </div>
</div>
{{ end }}


<script>
document.addEventListener('DOMContentLoaded', () => {
    var agendaSwiper = new Swiper(".swiper-agenda", {
        direction: 'vertical', // Geser vertikal
        slidesPerView: 2, 
        spaceBetween: 20, // Jarak antar slide
        loop: false,
        autoplay: {
            delay: 4000, // Waktu antar pergeseran slide
            disableOnInteraction: false,
        },
        speed: 1000, // Kecepatan transisi
        pagination: {
            el: ".swiper-agenda-pagination", // Element untuk pagination
            clickable: true,
        },
    });
});

</script>

</div>

<style>
.agenda-item {
  height: 150px; /* Tinggi masing-masing item */
}

/* Wrapper untuk Berita dan Agenda */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.berita {
  flex: 0 0 66%; 
  max-width: 66%;
}

.agenda {
  flex: 0 0 30%; 
  max-width: 30%;
}

.gallery {
  flex: 0 0 45%; 
  max-width: 45%;
}

.video {
  flex: 0 0 45%; 
  max-width: 45%;
}


/* Responsif: Jika layar kecil, Berita dan Agenda 100% */
@media screen and (max-width: 1300px) {
  .agenda {
    font-size: 0.8em;
  }
  
}

@media screen and (max-width: 800px) {
  .berita {
    flex: 0 0 95%; /* Ambil seluruh lebar */
    padding-right: 12px;
    max-width: 95%;
  }
  .agenda {
    flex: 0 0 90%; /* Ambil seluruh lebar */
    padding-right: 12px;
    padding-bottom: 24px;
    max-width: 90%;
    justify-content: center;
  }
  .gallery {
    flex: 0 0 95%; /* Ambil seluruh lebar */
    padding-right: 12px;
    max-width: 95%;
  }
  .video {
    flex: 0 0 90%; /* Ambil seluruh lebar */
    padding-right: 12px;
    padding-bottom: 24px;
    max-width: 90%;
    justify-content: center;
  }
}

.marquee-container {
  height: 450px;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  height: 900px;
  flex-direction: column;
}

.agenda-item {
  height: 150px;
}
</style>


<script>
  function getCurrentDate(day) {
    const today = new Date();
    const dayIndex = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"].indexOf(day);
    const currentDayIndex = today.getDay();

    // Menghitung awal minggu (hari Minggu di minggu ini)
    const startOfWeek = today.getDate() - currentDayIndex;
    
    // Tentukan offset: jika hari yang diinginkan sudah lewat, tambahkan 7 hari untuk minggu depan
    const dayOffset = (dayIndex < currentDayIndex) ? 7 : 0;

    // Hitung tanggal untuk hari yang diinginkan, mungkin minggu depan jika hari sudah lewat
    const dateForDay = new Date(today.setDate(startOfWeek + dayIndex + dayOffset));
    
    return dateForDay.getDate();
  }

  document.querySelectorAll('[data-day]').forEach(element => {
    const day = element.getAttribute('data-day');
    if (day) {
      element.textContent = getCurrentDate(day);
    }
  });
</script>

<div class="fade-in" id="animateMe">
  <!-- Flyers Section -->
  <div class="flyers bg-white m-3 dark:bg-gray-400">
    {{ $frontBundle2 := .Site.Params.frontBundle2 | default "Flyers" | lower }}
    <h2 class="text-2xl font-bold py-5 text-center text-sky-800">{{ $frontBundle2 | title }}</h2>

    <!-- Swiper Flyers Section -->
      <div class="swiper swiper-flyers min-h-72 mx-auto">
        <div class="swiper-wrapper pb-4">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle2) }}
          <div class="swiper-slide h-32 md:h-48 lg:h-64">
            {{- partial "blog-card-home-flyers.html" . -}}
          </div>
          {{ end }}
        </div>
        <!-- Swiper next button with chevron-right -->
        <div class="swiper-flyers-button-next">
          <span class="material-icons">chevron_right</span>
        </div>
        <!-- Swiper previous button with chevron-left -->
        <div class="swiper-flyers-button-prev">
          <span class="material-icons">chevron_left</span>
        </div>
    </div>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var flyersSwiper = new Swiper(".swiper-flyers", {
    slidesPerView: 3,
    spaceBetween: 10,
    slidesPerGroup: 3,
    centeredSlides: true,
    loop: false,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
    },
    speed: 1000,
    navigation: {
        nextEl: ".swiper-flyers-button-next",
        prevEl: ".swiper-flyers-button-prev",
    },
    breakpoints: {
        360: {
            slidesPerView: 1,
            spaceBetween: 5,
            slidesPerGroup: 1,
        },
        480: {
            slidesPerView: 1.3,
            spaceBetween: 5,
            slidesPerGroup: 1,
        },
        640: {
            slidesPerView: 1.5,
            spaceBetween: 5,
            slidesPerGroup: 1,
        },
        768: {
            slidesPerView: 1.7,
            spaceBetween: 35,
            slidesPerGroup: 1,
        },
        960: {
            slidesPerView: 2,
            spaceBetween: 35,
            slidesPerGroup: 1,
        },
        1024: {
            slidesPerView: 2,
            slidesPerGroup: 1,
            spaceBetween: 10,
            slidesPerGroup: 1,
        },
        1200: {
            slidesPerView: 3,
            spaceBetween: 15,
            slidesPerGroup: 2,
        },
        1440: {
            slidesPerView: 4,
            spaceBetween: 20,
            slidesPerGroup: 3,
        },
    },
});

});
</script>

<div class="wrapper fade-in" id="animateMe">
<!-- Gallery Section -->
<div class="gallery bg-sky-800 border my-3 mx-5 shadow rounded-xl dark:bg-gray-400">
  {{ $frontBundle3 := .Site.Params.frontBundle3 | default "gallery kegiatan" | lower }}
  <h2 class="text-2xl font-bold py-5 text-center text-white">Gallery Kegiatan</h2>

  <!-- Swiper Gallery Section -->
  <div class="swiper swiper-gallery min-h-72 mx-auto">
    <div class="swiper-wrapper pb-4">
      {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle3) }}
        <div class="swiper-slide h-32 md:h-48 lg:h-64">
          {{- partial "blog-card-home-gallery.html" . -}}
        </div>
      {{ end }}
    </div>
  </div>
</div>


  <!-- Video Section -->
  <div class="video bg-sky-800 border my-3 mx-5 shadow rounded-xl dark:bg-gray-400">
    {{ $frontBundle4 := .Site.Params.frontBundle4 | default "Video" | lower }}
    <h2 class="text-2xl font-bold py-5 text-center text-white">{{ $frontBundle4 | title }}</h2>

    <!-- Swiper Video Section -->
    <div class="swiper swiper-video min-h-72 mx-auto">
      <div class="swiper-wrapper pb-4">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle4) }}
          <div class="swiper-slide h-32 md:h-48 lg:h-64">
            {{- partial "blog-card-home-video.html" . -}}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Swiper for Gallery Section
    new Swiper(".swiper-gallery", {
      slidesPerView: 2, // Tampilkan 2 slide per baris
      spaceBetween: 20, // Jarak antar slide
      grid: {
        rows: 2, // 2 baris
        fill: "row", // Urutan pengisian baris
      },
      breakpoints: {
        640: {
          slidesPerView: 2, // Pada layar kecil, 1 slide per baris
          grid: {
            rows: 2, // 1 baris saja
          },
        },
        1024: {
          slidesPerView: 2,
          grid: {
            rows: 2, // 2 baris pada layar besar
          },
        },
      },
      autoplay: {
        delay: 6000, // Set auto slide every 6 seconds
        disableOnInteraction: false, // Keep autoplay working even when user interacts
      },
    });

    // Swiper for Video Section (jika diperlukan)
    new Swiper(".swiper-video", {
      slidesPerView: 2,
      spaceBetween: 20,
      grid: {
        rows: 2,
        fill: "row",
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          grid: {
            rows: 1,
          },
        },
        1024: {
          slidesPerView: 2,
          grid: {
            rows: 2,
          },
        },
      },
      autoplay: {
        delay: 6000, // Set auto slide every 6 seconds
        disableOnInteraction: false, // Keep autoplay working even when user interacts
      },
    });
  });
</script>

<div class="fade-in" id="animateMe">
  <!-- Link Terkait Section -->
  <h2 class="text-2xl font-bold py-5 text-center text-sky-800">Link Web Terkait</h2>
  <hr class="border-t-4 border-sky-800 w-1/3 mx-auto mt-1">
  <div class="link-terkait bg-sky-800 bg-opacity-20 my-3 dark:bg-gray-400 p-6 rounded-xl w-full">
    {{ $frontBundle5 := .Site.Params.frontBundle5 | default "Link Terkait" | lower }}

    <!-- Swiper Link Terkait Section -->
    <div class="swiper swiper-link-terkait min-h-72 mx-auto">
      <div class="swiper-wrapper pb-4">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle5) }}
          <div class="swiper-slide h-32 md:h-48 lg:h-64">
            {{- partial "blog-card-home-link.html" . -}}
          </div>
        {{ end }}
      </div>
      <!-- Swiper pagination -->
      <div class="swiper-pagination-link-terkait"></div>
    </div>
  </div>
</div>

<style>
  .swiper-pagination-link-terkait {
    display: flex;
    justify-content: center;
    gap: 20px; /* Menambahkan jarak antar pagination */
  }
  .swiper-pagination-link-terkait .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 2px solid white; /* Mengubah warna border menjadi putih */
    border-radius: 50%;
    background-color: transparent; /* Mengubah warna background menjadi transparan */
  }
  .swiper-pagination-link-terkait .swiper-pagination-bullet-active {
    background-color: white; /* Warna putih untuk yang aktif */
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var linkTerkaitSwiper = new Swiper(".swiper-link-terkait", {
    slidesPerView: 4,
    spaceBetween: 10,
    slidesPerGroup: 4,
    loop: true,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
    },
    speed: 1000,
    pagination: {
        el: ".swiper-pagination-link-terkait",
        clickable: true,
    },
});
});
</script>

<div class="fade-in" id="animateMe">
  <!-- Link Terkait Section -->
  <h2 class="text-2xl font-bold py-5 text-center text-sky-800">Link Web Terkait</h2>
  <hr class="border-t-4 border-sky-800 w-1/3 mx-auto mt-1">
  <div class="link-terkait bg-sky-800 bg-opacity-20 my-3 dark:bg-gray-400 p-6 rounded-xl w-full">
    {{ $frontBundle5 := .Site.Params.frontBundle5 | default "Link Terkait" | lower }}

    <!-- Swiper Link Terkait Section -->
    <div class="swiper swiper-link-terkait min-h-72 mx-auto">
      <div class="swiper-wrapper pb-4">
        {{ range (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle5) }}
          <div class="swiper-slide h-32 md:h-48 lg:h-64">
            {{- partial "blog-card-home-link.html" . -}}
          </div>
        {{ end }}
      </div>
      <!-- Swiper pagination -->
      <div class="swiper-pagination-link-terkait"></div>
    </div>
  </div>
</div>

<style>
  .swiper-pagination-link-terkait {
    display: flex;
    justify-content: center;
    gap: 20px; /* Menambahkan jarak antar pagination */
  }
  .swiper-pagination-link-terkait .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 2px solid white; /* Mengubah warna border menjadi putih */
    border-radius: 50%;
    background-color: transparent; /* Mengubah warna background menjadi transparan */
  }
  .swiper-pagination-link-terkait .swiper-pagination-bullet-active {
    background-color: white; /* Warna putih untuk yang aktif */
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    var linkTerkaitSwiper = new Swiper(".swiper-link-terkait", {
    slidesPerView: 4,
    spaceBetween: 10,
    slidesPerGroup: 4,
    loop: true,
    autoplay: {
        delay: 5000,
        disableOnInteraction: false,
    },
    speed: 1000,
    pagination: {
        el: ".swiper-pagination-link-terkait",
        clickable: true,
    },
});
});
</script>


{{- partial "intro.html" . -}}
{{ end }}

